/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gffctx.nf Configuration File
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default configuration options are defined here
--------------------------------------------------------------------------------
*/

manifest {
    author                  = "Joan Lluis Pons Ramon"
    name                    = "gffctx.nf"
    version                 = "0.1.0"
    description             = ""
    homePage                = "https://github.com/jllpons/gffctx"
}

params {
    // I/O options (required)
    input                   = null

    // Parameters with defaults
    kw_loci                 = 'gene'
    kw_segment              = 'exon'
    outdir                  = 'gffctx_results'
    overlap_percent         = '1E-9'


    // Options
    help                    = null
    version                 = null

    // Mapping manifest so it's accessible in the main.nf script
    manifest                = manifest
}

plugins {
  id 'nf-schema@2.6.1'
}



