/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gffctx.nf Configuration File
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default configuration options are defined here
--------------------------------------------------------------------------------
*/

manifest {
    author                  = "Joan Lluis Pons Ramon"
    name                    = "gffctx.nf"
    version                 = "0.1.0"
    description             = "Context annotation of genomic intervals using gene annotations (GFF)"
    homePage                = "https://github.com/jllpons/gffctx"
}

params {
    // I/O options (required)
    input                   = null

    // Parameters with defaults
    kw_gene_feature         = 'gene'
    kw_transcript_feature   = 'mRNA'
    kw_exon_feature         = 'exon'
    outdir                  = 'gffctx_results'
    overlap_percent         = 0.50


    // Options
    help                    = null
    version                 = null

    // Mapping manifest so it's accessible in the main.nf script
    manifest                = manifest
}

includeConfig 'conf/modules.config'

plugins {
  id 'nf-schema@2.6.1'
}



